.button {
  background: #f47f7f;
  color: #fff;
  font-size: small;
  padding: 2px 10px;
}

li {
  display: flex;
  list-style: none;
  list-style-type: none;
  margin: 0;
  padding: 2px;
  color: rgb(21, 40, 143);
  border: 1px;
}

span {
  font-size: larger;
  font-weight: bold;
  margin-right: 10px;
  margin-left: 10px;
  /* margin-right: auto; */
}
