.button {
  background: #f47f7f;
  color: #fff;
  font-size: small;
  height: min-content;
  /* line-height: 1; */
  margin-top: auto;
}

.button.editBtn {
  background: #7f8ff4;
}

li {
  display: flex;
  list-style: none;
  list-style-type: none;
  margin: 0;
  margin-bottom: 3px;
  /* padding: 2px; */
  color: rgb(21, 40, 143);
  border: 1px;
}
