.button {
    background: #7f8ff4;
    color: #fff;
    padding: 5px 5px;
  }
  .button:hover {
    background: darken(#7f8ff4, 4%);
  }

/* form */
.form__field {
    width: 360px;
    background: #fff;
    color: #a3a3a3;
    font: inherit;
    border: 1px solid lightgrey;
    border-radius: 5px;
    outline: 0;
    padding: 5px 5px;
  }
  
  .label {
    font-size: large;
    font-weight: bolder;
    color: #7f8ff4;
    padding: 5px 5px;
  }
  