.hyperlink {
  margin-right: 10px;
  margin-left: 10px;
  margin-right: auto;
  display: inline-block;
  line-height: 1;
  margin-top:auto;
  padding-top: 2px;
  font-size: 20px;
  color: #1a0dab;
  text-decoration: none;
  cursor: pointer;
  text-align: left;
}
