/* .button {
  background: #808392;
  color: #fff;
  padding: 4px 8px;
}
.button:hover {
  background: darken(#7f8ff4, 4%);
} */

/* .tag:hover {
  background: rgb(40, 175, 92);
  color: #fff;

} */

#tags{
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  box-shadow: 1px 1px 4px #CCC inset;
  padding: 10px;
  width: 50%;
  background: #fafafa;
  margin: auto;
}
