.button {
  background: #f47f7f;
  color: #fff;
  padding: 6px 18px;
}

li {
  list-style: none;
  list-style-type: none;
  margin: 0;
  padding: 2px;
  color: rgb(21, 40, 143);
  border: 1px;
}

span {
  display: inline-flex;
  align-self: flex-start;
  font-size: larger;
  font-weight: bold;
  margin-right: 10px;
  margin-left: auto;
}
