.card {
  /* align-items: unset; */
  background: white;
  border: 1px solid lightgrey;
  border-radius: 5px;
  /* flex-direction: row; */
  margin: 4px;
  padding: 4px;
}

ul {
  list-style: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}